<div class="container">
  <h1 align="center">Генератор виджетов</h1>
  <button mat-fab color="primary" class="add"><mat-icon>add</mat-icon></button>
  <div class="widgets-wrapper">
    <mat-card>
      <div class="imgs-container">
        <div class="img" [style.backgroundImage]="'url(https://image.freepik.com/free-icon/no-translate-detected_318-10744.jpg)'"></div>
        <div class="img" [style.backgroundImage]="'url(https://www.picpng.com/images/large/avatar-boy-human-icon-male-man-transparent-42943)'"></div>
        <div class="img" [style.backgroundImage]="'url(https://www.picpng.com/images/large/avatar-boy-human-icon-male-man-transparent-42943)'"></div>
      </div>
      <h3>Заголовок</h3>
      <p>Создатель: <a href="#">Имя создателя</a> </p>
      <button></button>
    </mat-card>
  </div>
</div>
